@import "../../assets/colours.scss";
@import "../../assets/constants.scss";
.navbar {
  width: 100%;
  height: $nav-height;
  background-color: $navbar;
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5rem;
  @media only screen and (max-width: 450px) {
    padding-inline: 0.75rem;
  }
}
