@import "../../assets/colours.scss";
.navbar {
  width: 100%;
  height: 4rem;
  background-color: $navbar;
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5rem;
}
.link_container {
  display: flex;
  justify-content: center;
  align-items: center;
  &__active_link {
    margin-inline: 0.5rem;
    border-bottom: 2px solid $accent;
  }
  &__link {
    border-bottom: 2px solid transparent;
    margin-inline: 0.5rem;
  }
}
