.movie_box {
  $size: 9.5rem;
  $radius: 5px;
  width: $size;
  height: $size * 1.5;
  border-radius: $radius;
  overflow: hidden;
  margin: 2rem;
  border: none;
  display: flex;
  &__img {
    width: 100%;
    height: 100%;
  }
  @media only screen and (max-width: 700px) {
    $size-small: 7rem;
    width: $size-small;
    height: $size-small * 1.5;
    margin-inline: 0.5rem;
    margin-block: 1.5rem;
  }
}
