@import "../assets/constants.scss";
@import "../assets/colours.scss";
.container {
  height: 100vh - $nav-height;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  // z-index: 1;
  @media only screen and (max-width: 870px) {
    flex-direction: column;
    height: max-content;
  }
  &__1 {
    background-color: $background;
    width: 70%;
    height: max-content;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      width: 0;
    }
    &__col {
      height: 100%;
      height: max-content;
    }
    @media only screen and (max-width: 870px) {
      width: max-content;
      margin-block: auto;
    }
  }
  &__2 {
    background-color: $background-dark;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 870px) {
      width: 100%;
      height: auto;
    }
  }
}
